<div class="products mt-4">
    <% if (products.length > 0) { %>
    <ul class="list-group mt-2">
        <% products.forEach(product => { %>
        <li class="list-group-item d-flex justify-content-around align-items-center">
            <p><%= product.id %></p>
            <p><%= product.title %></p>
            <p><%= product.price %></p>
            <img src=<%= product.thumbnail %> alt=<%= product.title %> width="20%" height="20%">
        </li>
        <% }) %>
    </ul>
    <% } else { %>
    <h3 class="alert alert-danger">Products not found</h3>
    <% } %>
     <a href="./" class="btn btn-dark mt-2 mx-2">Upload new products</a>
</div>